<button (click)="alternateVisibility()">Menu</button>
<section class="sidemenu-container"
    [style.background-color]="theme"
    [style.width]="widthMenu + '%'"
    [style.display]="visibleMenu ? 'flex' : 'none'"
>
    <div class="item">
        <img src="https://i1.sndcdn.com/artworks-MA9IP0uipzLgGflb-ODiqJg-t1080x1080.jpg" alt="image.png">
        <p>{{userName}}</p>
        <button (click)="alternateVisibility()">Back</button>
        <div class="fixed-text">
            Desarrollar un componente de menú 
            lateral (side-menu) en Angular 
            que demuestre el uso de Enlace de Datos.
        </div>
    </div>

    <div class="item">
        <p>
            <span style="color: #ff7043;">📅</span>
            <span onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Dashboard</span>
        </p>
    </div>

    <div class="item">
        <p>
            <span style="color: #ff7043;">👨</span>
            <span onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Profile</span>
        </p>
    </div>

    <div class="item">
        <button class="btn" (click)="setTheme(theme === '#ffcc80' ? '#a4d3e2' : '#ffcc80')">Change color</button>
        <button class="btn" (click)="setSize()">Change size</button>
    </div>
</section>

